all_data/*
private/*
data/
results/*
attn_map/*
.idea/
.ipynb_checkpoints
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.log
*.csv
*.json
*.xml
*.xlsx
*.xls
*.h5
*.hdf5
*.zip
*.out
*.pt
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
